
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">

    <link href="~/fonts/icomoon/style.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Style -->
    <link href="~/Content/style.css" rel="stylesheet" />

    <title>Login Now</title>
</head>
<body>


    <div class="content">

        <div class="container">


            <div class="row justify-content-center">
                <div class="col-md-10">

                    <div class="row align-items-center">
                        <div class="col-lg-7 mb-5 mb-lg-0">

                            <h2 class="mb-5">Login In & <br> Connect With Us</h2>

                            <form action="Login" class="border-right pr-5 mb-5" method="post" id="" name="">
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email">
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <input type="password" class="form-control" name="password" id="password" placeholder="password">
                                    </div>
                                </div>

                                @*<div class="row">
                <div class="col-md-12 form-group">
                    <textarea class="form-control" name="message" id="message" cols="30" rows="7" placeholder="Write your message"></textarea>
                </div>
            </div>*@
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary rounded-0 py-2 px-4" type="submit">Submit</button>
                                       
                                    </div>
                                </div>
                            </form>
                            <span>
                                @if (ViewBag.userfoundmsz != null)
                                {
                                    <span class="email-check" style="color: red;">
                                        @ViewBag.userfoundmsz
                                    </span>

                                }
</span>
                           

                        </div>
                        <div class="col-lg-4 ml-auto">
                            <h3 class="mb-4">Let's talk about everything.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil deleniti itaque similique magni. Magni, laboriosam perferendis maxime!</p>
                            <p>Don't have an account?</p>
                            <p style="font-weight: 600"><a href="~/Tutor/Registration">Register Now</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="~/Scripts/js/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/js/popper.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/jquery.validate.min.js"></script>
<script src="~/Scripts/js/main.js"></script>



    <script>

        setTimeout(function () {
            $(".email-check").fadeOut(1000);
        }, 3000);
    </script>

</body>
</html>
