USE [master]
GO
/****** Object:  Database [TuitionDB]    Script Date: 8/10/2021 4:40:04 PM ******/
CREATE DATABASE [TuitionDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TuitionDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TuitionDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TuitionDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TuitionDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TuitionDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TuitionDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 8/10/2021 4:40:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Logins]    Script Date: 8/10/2021 4:40:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Logins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NotificationTBs]    Script Date: 8/10/2021 4:40:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationTBs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PostId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.NotificationTBs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostTables]    Script Date: 8/10/2021 4:40:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostTables](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PostSubject] [nvarchar](max) NULL,
	[PostClass] [nvarchar](max) NULL,
	[PostMedium] [nvarchar](max) NULL,
	[PostTime] [nvarchar](max) NULL,
	[PostSalary] [nvarchar](max) NULL,
	[PostInstitution] [nvarchar](max) NULL,
	[PostAddress] [nvarchar](max) NULL,
	[PostUserId] [int] NOT NULL,
	[ActiveTaken] [int] NOT NULL,
	[AppliedUserId] [int] NOT NULL,
	[postuserimage] [nvarchar](max) NULL,
	[postuserName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PostTables] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Registrations]    Script Date: 8/10/2021 4:40:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registrations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[AccountType] [nvarchar](max) NULL,
	[RegisterAs] [int] NOT NULL,
	[UserImage] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Institution] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Registrations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TuitionInfoes]    Script Date: 8/10/2021 4:40:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuitionInfoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Medium] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[Salary] [nvarchar](max) NULL,
	[PreferSubject] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TuitionInfoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[NotificationTBs] ON 

INSERT [dbo].[NotificationTBs] ([Id], [UserId], [PostId]) VALUES (1, 1, 1)
INSERT [dbo].[NotificationTBs] ([Id], [UserId], [PostId]) VALUES (2, 1, 1)
INSERT [dbo].[NotificationTBs] ([Id], [UserId], [PostId]) VALUES (3, 1, 1)
SET IDENTITY_INSERT [dbo].[NotificationTBs] OFF
SET IDENTITY_INSERT [dbo].[PostTables] ON 

INSERT [dbo].[PostTables] ([Id], [PostSubject], [PostClass], [PostMedium], [PostTime], [PostSalary], [PostInstitution], [PostAddress], [PostUserId], [ActiveTaken], [AppliedUserId], [postuserimage], [postuserName]) VALUES (1, N'Bangla. Higher Math.', N'One-Three.', N'English', N'5/26/2021 1:03:34 PM', N'5000', N'Chittagong Engineering Institute', N'Deawanhat', 11, 0, 1, N'Images/479f0dd1-2977-45f5-a5ff-062aae4844e7.png', N'Mohammad Rasel')
INSERT [dbo].[PostTables] ([Id], [PostSubject], [PostClass], [PostMedium], [PostTime], [PostSalary], [PostInstitution], [PostAddress], [PostUserId], [ActiveTaken], [AppliedUserId], [postuserimage], [postuserName]) VALUES (3, N'Bangla.', N'One-Three.', N'Bangla', N'5/26/2021 1:09:17 PM', N'4000', N'agrabad mohila college', N'Deawanhat', 10, 0, 13, N'Images/23a1b2ee-cd9b-4ea3-8465-7fa3bbd8da6f.jpg', N'Joy dev nath')
INSERT [dbo].[PostTables] ([Id], [PostSubject], [PostClass], [PostMedium], [PostTime], [PostSalary], [PostInstitution], [PostAddress], [PostUserId], [ActiveTaken], [AppliedUserId], [postuserimage], [postuserName]) VALUES (4, N'Bangla. English. Math.', N'One-Three. Four-five. Six-Seven.', N'English', N'5/28/2021 10:44:45 PM', N'4000-8000', N'agrabad commerce college', N'agrabad chittagong', 12, 0, 13, N'Images/793b8c89-8330-4501-9a40-10d206152f3a.jpg', N'Lauren Maldonado ')
SET IDENTITY_INSERT [dbo].[PostTables] OFF
SET IDENTITY_INSERT [dbo].[Registrations] ON 

INSERT [dbo].[Registrations] ([Id], [Name], [Email], [Phone], [Gender], [Password], [AccountType], [RegisterAs], [UserImage], [Address], [Institution]) VALUES (1, N'Masuma Akter  masuma', N'masuma@gmail.com', N'01881577897    ', N'female', N'123456', N'Teacher', 2, N'Images/a7d31e6b-91de-4523-842d-d39a2e8c097e.jpg', N'Middle halishahar', N'Bn school and college  ')
INSERT [dbo].[Registrations] ([Id], [Name], [Email], [Phone], [Gender], [Password], [AccountType], [RegisterAs], [UserImage], [Address], [Institution]) VALUES (2, N'nahida yasmin ', N'nahida@gmail.com', N'01881577897 ', N'female', N'123456', N'Teacher', 2, N'Images/4491a5bc-ed7e-4d35-b470-910ac8203153.jpg', N'Anandabazar chittagong', N'BF SHahin college ')
INSERT [dbo].[Registrations] ([Id], [Name], [Email], [Phone], [Gender], [Password], [AccountType], [RegisterAs], [UserImage], [Address], [Institution]) VALUES (3, N'Arif Hossain', N'arif@gmail.com', N'01881577897', N'male', N'123456', N'Student', 1, N'Images/34abd8ef-ca62-4694-aa8f-b06caf6fb9e7.jpg', N'Middle halishahar', N'BF SHahin college')
SET IDENTITY_INSERT [dbo].[Registrations] OFF
SET IDENTITY_INSERT [dbo].[TuitionInfoes] ON 

INSERT [dbo].[TuitionInfoes] ([Id], [Medium], [Location], [Salary], [PreferSubject], [UserId]) VALUES (1, N'Bangla', N'Agrabad', N'4000-5000 ', N'Bangla. English. Math. GeneralMath.', 1)
INSERT [dbo].[TuitionInfoes] ([Id], [Medium], [Location], [Salary], [PreferSubject], [UserId]) VALUES (2, N'empty', N'empty', N'empty', N'empty', 2)
INSERT [dbo].[TuitionInfoes] ([Id], [Medium], [Location], [Salary], [PreferSubject], [UserId]) VALUES (3, N'empty', N'empty', N'empty', N'empty', 0)
SET IDENTITY_INSERT [dbo].[TuitionInfoes] OFF
ALTER TABLE [dbo].[PostTables] ADD  DEFAULT ((0)) FOR [AppliedUserId]
GO
ALTER TABLE [dbo].[Registrations] ADD  DEFAULT ((0)) FOR [RegisterAs]
GO
USE [master]
GO
