
/* ================================================ */

.footer-99382 {
    padding: 7rem 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #777;
    position: relative;
    font-family: "Poppins", sans-serif; }
    .footer-99382:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #323232; }
    .footer-99382 h3 {
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 30px; }
    .footer-99382 .footer-site-logo {
      font-size: 1.5rem;
      color: #fff; }
    .footer-99382 .nav-links li {
      margin-bottom: 10px; }
      .footer-99382 .nav-links li a {
        color: #999999; }
        .footer-99382 .nav-links li a:hover {
          color: #fff; }
    .footer-99382 .btn.btn-tertiary {
      background-color: #e42c64;
      color: #fff;
      border-radius: 30px;
      border: none;
      padding: 10px 20px; }
    .footer-99382 .social li {
      display: inline-block; }
      .footer-99382 .social li a {
        color: gray;
        padding: 7px; }
        .footer-99382 .social li a:hover {
          color: #fff; }
    .footer-99382 .copyright {
      border-top: 1px solid #595959; }
  






/* ============================= */
.hero{
    background-image: url(https://wallpaperaccess.com/full/697863.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.default-btn {
    background-color: transparent; /* Green */
    border: none;
    color: #555555;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #555555;
    
  }
  .default-btn:hover {
    background-color: #555555;
    color: white;
  }
  .btn-active
  {
      background-color: #555555;
      color: #fff;
  }



